In [1]:
import pandas as pd
import numpy as np

In [2]:
df_imdb_test = pd.read_csv('raw_data/imdb/test.csv')
df_imdb_test.head()

                                                text  label
0  I always wrote this series off as being a comp...      0
1  1st watched 12/7/2002 - 3 out of 10(Dir-Steve ...      0
2  This movie was so poorly written and directed ...      0
3  The most interesting thing about Miryang (Secr...      1
4  when i first read about "berlin am meer" i did...      0

In [3]:
df_imdb_test['label'] = df_imdb_test['label'].replace(0,-1) # Replacing label 0 with 1
df_imdb_test.sample(6)

                                                   text  label
4551  This Paramount version/ripoff of OKLAHOMA!/ANN...     -1
682   While this film certainly does possess the ste...     -1
1342  What was there about 1939 that helped produce ...      1
3479  Not only do I think this was the best film of ...      1
4820  I thought I had seen this film before as the p...     -1
281   Based on what little i have seen of this show ...     -1

In [4]:
df_imdb_train = pd.read_csv('raw_data/imdb/train.csv')
df_imdb_train.head()

                                                text  label
0  I grew up (b. 1965) watching and loving the Th...      0
1  When I put this movie in my DVD player, and sa...      0
2  Why do people who do not know what a particula...      0
3  Even though I have great interest in Biblical ...      0
4  Im a die hard Dads Army fan and nothing will e...      1

In [5]:
df_imdb_train['label'] = df_imdb_train['label'].replace(0,-1) # Replacing label 0 with 1
df_imdb_train.sample(6)

                                                    text  label
25085  Every time I hear Karen Carpenter's voice, the...      1
38528  I usually much prefer French movies over Ameri...     -1
7711   The saddest thing about this "tribute" is that...     -1
30311  As the story in my family goes, my dad, Milton...      1
37872  The danish movie "Slim Slam Slum" surprised me...     -1
16737  This is one of those movies which makes you th...     -1

In [6]:
df_imdb_valid = pd.read_csv('raw_data/imdb/valid.csv')
df_imdb_valid.head()

                                                text  label
0  It's been about 14 years since Sharon Stone aw...      0
1  someone needed to make a car payment... this i...      0
2  The Guidelines state that a comment must conta...      0
3  This movie is a muddled mish-mash of clichés f...      0
4  Before Stan Laurel became the smaller half of ...      0

In [7]:
df_imdb_valid['label'] = df_imdb_train['label'].replace(0,-1) # Replacing label 0 with 1
df_imdb_valid.sample(6)

                                                   text  label
1150  When I watched this movie in my adolescence, I...     -1
3061  *** Contains Spoilers ***<br /><br />I did not...      1
1122  This movie is so bad it's almost good. Bad sto...      1
801   Fantastic series, one of my few favorites (Mia...     -1
4261  Wow! Wow! Wow! I have never seen a non-preachy...     -1
1719  Disappointing musical version of Margaret Land...     -1

In [8]:
combined_imdb = np.vstack([df_imdb_test, df_imdb_train, df_imdb_valid])
df_combined = pd.DataFrame(combined_imdb, columns=['text', 'label'])
df_combined

                                                    text label
0      I always wrote this series off as being a comp...    -1
1      1st watched 12/7/2002 - 3 out of 10(Dir-Steve ...    -1
2      This movie was so poorly written and directed ...    -1
3      The most interesting thing about Miryang (Secr...     1
4      when i first read about "berlin am meer" i did...    -1
...                                                  ...   ...
49995  Man, I loved this movie! This really takes me ...    -1
49996  Recovery is an incredibly moving piece of work...    -1
49997  You can take the crook out of the joint, but i...    -1
49998  FUTZ is the only show preserved from the exper...    -1
49999  "The Mother" tells of a recently widowed mid-6...    -1

[50000 rows x 2 columns]

In [9]:
df_combined.duplicated().sum()

374

In [10]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    50000 non-null  object
 1   label   50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

In [11]:
df_combined =df_combined.drop_duplicates()
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49626 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    49626 non-null  object
 1   label   49626 non-null  object
dtypes: object(2)
memory usage: 1.1+ MB

In [12]:
df_combined[1:].to_csv('formatted_data/imdb_rating.csv')