In [16]:
import pandas as pd
import numpy as np
import nltk
# %run utils.ipynb

In [17]:
df_twitter = pd.read_csv('raw_data/Twitter_Data.csv')
df_twitter

                                               clean_text  category
0       when modi promised “minimum government maximum...      -1.0
1       talk all the nonsense and continue all the dra...       0.0
2       what did just say vote for modi  welcome bjp t...       1.0
3       asking his supporters prefix chowkidar their n...       1.0
4       answer who among these the most powerful world...       1.0
...                                                   ...       ...
162975  why these 456 crores paid neerav modi not reco...      -1.0
162976  dear rss terrorist payal gawar what about modi...      -1.0
162977  did you cover her interaction forum where she ...       0.0
162978  there big project came into india modi dream p...       0.0
162979  have you ever listen about like gurukul where ...       1.0

[162980 rows x 2 columns]

In [18]:
df_twitter = df_twitter[df_twitter['category']!=0]
df_twitter.head()

                                          clean_text  category
0  when modi promised “minimum government maximum...      -1.0
2  what did just say vote for modi  welcome bjp t...       1.0
3  asking his supporters prefix chowkidar their n...       1.0
4  answer who among these the most powerful world...       1.0
8  with upcoming election india saga going import...       1.0

### Drop Null values

In [20]:
df_twitter.category.unique()

array([-1.,  1., nan])

In [21]:
df_twitter.isnull().sum()

clean_text    2
category      7
dtype: int64

In [22]:
df_twitter = df_twitter.dropna()
df_twitter.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107758 entries, 0 to 162979
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   clean_text  107758 non-null  object
 1   category    107758 non-null  float64
dtypes: float64(1), object(1)
memory usage: 2.5+ MB

### Changing the Datatype of Category

In [23]:
df_twitter['category'] = df_twitter.category.astype('int')
df_twitter.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107758 entries, 0 to 162979
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   clean_text  107758 non-null  object
 1   category    107758 non-null  int64
dtypes: int64(1), object(1)
memory usage: 2.5+ MB

/var/folders/p2/5jk7kmz53vq9d96v6kkyckl40000gn/T/ipykernel_25012/3586346096.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_twitter['category'] = df_twitter.category.astype('int')

In [24]:
df_twitter.sample(4)

                                               clean_text  category
106699  bravehearts stars who love india speak out lis...         1
148464  “ khaunga khaane dunga” remember this slogan t...        -1
68607   please dont invite people who refuse see sense...        -1
134423  they could just have told modi not good for ec...        -1

### Check for duplicates

In [25]:
df_twitter.duplicated().sum()

0

In [27]:
df_twitter.rename(columns={'category': 'label', 'clean_text': 'text'}, inplace=True)

/var/folders/p2/5jk7kmz53vq9d96v6kkyckl40000gn/T/ipykernel_25012/2380171252.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_twitter.rename(columns={'category': 'label', 'clean_text': 'text'}, inplace=True)

In [28]:
df_twitter.label.value_counts()

 1    72249
-1    35509
Name: label, dtype: int64

In [29]:
df_twitter.drop_duplicates()
df_twitter.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107758 entries, 0 to 162979
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   text    107758 non-null  object
 1   label   107758 non-null  int64
dtypes: int64(1), object(1)
memory usage: 2.5+ MB

In [11]:
df_twitter[1:].to_csv('formatted_data/twitter.csv')